body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.castle {
  background-image: url(../images/castle.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "josefin";
  src: url("./assets/fonts/josefin/JosefinSans-Bold.ttf") format("truetype");
}

* {
  font-family: "lato", sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  color: white;
}
